<!DOCTYPE html>
<html>

<head>
    <title>
        <%= headTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
        <main>
            <h1 class="heading">Welcome to the Shop</h1>
            <p>This is the home page of our shop.</p>
        </main>
</body>

</html>