<!DOCTYPE html>
<html>

<head>
    <title>
        <%= headTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('partials/navigation', { menuLinks: LOGOUT_LINKS, activeLinkPath: activeLinkPath }) %>
        <main>
            <h1 class="heading">Logout</h1>
            <p>You have been logged out successfully.</p>
        </main>
</body>

</html>