<!DOCTYPE html>
<html>

<head>
    <title>
        <%= headTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
        <main>
            <h1 class="heading">Products</h1>
            <% if (products && products.length > 0) { %>
                <ul>
                    <% products.forEach(function(product) { %>
                        <li>Name:
                            <%= product.name %>, Description:
                                <%= product.description %>
                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <div>No products available.</div>
                    <% } %>
        </main>
</body>

</html>